[submodule ".registry"]
	path = .registry
	url = https://github.com/unhcrverse/unhcrverse.r-universe.dev
	branch = HEAD
[submodule "HighFrequencyChecks"]
	path = HighFrequencyChecks
	url = https://github.com/Edouard-Legoupil/HighFrequencyChecks
[submodule "IndicatorCalc"]
	path = IndicatorCalc
	url = https://github.com/unhcr-americas/IndicatorCalc
[submodule "VulnerabilityScoreCalibration"]
	path = VulnerabilityScoreCalibration
	url = https://github.com/unhcr-americas/VulnerabilityScoreCalibration
[submodule "XlsFormUtil"]
	path = XlsFormUtil
	url = https://github.com/unhcr-americas/XlsFormUtil
[submodule "cccmdown"]
	path = cccmdown
	url = https://github.com/unhcr-dataviz/cccmdown
[submodule "cccmthemes"]
	path = cccmthemes
	url = https://github.com/unhcr-dataviz/cccmthemes
[submodule "countrycode"]
	path = countrycode
	url = https://github.com/vincentarelbundock/countrycode
[submodule "graveler"]
	path = graveler
	url = https://github.com/Edouard-Legoupil/graveler
[submodule "kobocruncher"]
	path = kobocruncher
	url = https://github.com/Edouard-Legoupil/kobocruncher
[submodule "popdata"]
	path = popdata
	url = https://github.com/PopulationStatistics/popdata
[submodule "refugees"]
	path = refugees
	url = https://github.com/PopulationStatistics/refugees
[submodule "rhdx"]
	path = rhdx
	url = https://github.com/dickoa/rhdx
[submodule "riddle"]
	path = riddle
	url = https://github.com/Edouard-Legoupil/riddle
[submodule "robotoolbox"]
	path = robotoolbox
	url = https://github.com/dickoa/robotoolbox
[submodule "rsdt"]
	path = rsdt
	url = https://github.com/galalH/rsdt
[submodule "rsr"]
	path = rsr
	url = https://github.com/galalH/rsr
[submodule "unhcrdatapackage"]
	path = unhcrdatapackage
	url = https://github.com/Edouard-Legoupil/unhcrdatapackage
[submodule "unhcrdown"]
	path = unhcrdown
	url = https://github.com/unhcr-dataviz/unhcrdown
[submodule "unhcrtemplate"]
	path = unhcrtemplate
	url = https://github.com/unhcr-dataviz/unhcrtemplate
[submodule "unhcrthemes"]
	path = unhcrthemes
	url = https://github.com/unhcr-dataviz/unhcrthemes
